{
	"presets": [
		[
			"next/babel",
			{
				"preset-env": {
					"useBuiltIns": "usage",
					"corejs": "3"
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@/client": "./src/client",
					"@/server": "./src/server"
				}
			}
		]
	]
}
